@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;500&display=swap&&');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://use.fontawesome.com/releases/v6.3.0/css/all.css');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 125px;
}

h1,
h2,
h3 {
  font-family: 'Abril Fatface', 'cursive';
}

header {
  background-image: url('image/image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 900px;
}

header h1 {
  line-height: normal;
  font-size: 40px;
}

header hr {
  height: 5px;
  background-color: rgb(239, 239, 239);
  margin-right: 100px;
  border: none;
}

header p {
  font-size: small;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.company-name {
  border: 1px solid gray;
  top: 4.6%;
  left: 11.6%;
  position: absolute;
  padding: 20px;
  width: 235px;
  height: 170px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(148, 148, 148, 1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(148, 148, 148, 1);
  box-shadow: 3px 3px 5px 0px rgba(148, 148, 148, 1);
}

.company-description {
  background: linear-gradient(90deg, #9b9188, #bebcb9 80%);
  text-shadow: 1px 2px 7px #000000;
  color: rgb(242, 239, 239);
  text-align: end;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  line-height: normal;
  top: 40%;
  right: 10.8%;
  position: absolute;
  padding: 40px 20px 20px 30px;
  width: 260px;
  height: 220px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(148, 148, 148, 1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(148, 148, 148, 1);
  box-shadow: 3px 3px 5px 0px rgba(148, 148, 148, 1);
}

.company-description p {
  font-size: 16px;
}

.company-description i {
  padding-bottom: 10px;
}

.main-section {
  background-color: #f2f0f3;
  flex-basis: 70%;
}

aside {
  background-color: #bab1ad;
  flex-basis: 30%;
}

aside ul {
  padding: 55px 30px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  gap: 110px;
}

aside ul h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 70px;
}

aside ul p {
  font-weight: 400;
  color: rgb(77, 68, 63);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: row;
}

.services {
  padding: 50px 90px;
}

.services h2 {
  padding-bottom: 30px;
  font-size: 40px;
}

.services li {
  padding-bottom: 30px;
  line-height: normal;
}

.services i {
  padding-right: 10px;
}

.services p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: large;
}

.services span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: large;
}

.contact h2 {
  padding-top: 40px;
  padding-bottom: 5px;
}

.contact hr {
  position: relative;
  width: 126.4%;
  right: 13.3%;
}

.contact ul {
  padding-top: 15px;
}

.contact li {
  padding-right: 10px;
  display: inline-block;
  padding-bottom: 10px;
  flex-basis: 25%;
  font-weight: 300;
}

.contact li em {
  font-weight: 400;
  padding-right: 3px;
}

.get-started {
  padding-top: 20px;
}

.email-input {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  background-color: #bab1ad;
  color: #ffffff;
}

.get-started-btn {
  margin-left: 10px;
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: #67784d;
  color: #ffffff;
}
