@media screen and (max-width: 600px) {
  .home-container01 {
    display: none;
  }

  .home-left,
  .home-right {
    display: none;
  }

  .navbar-logo-title {
    margin: 0;
  }

  .home-info,
  .home-container04,
  .home-btn-group {
    align-self: center;
  }

  .home-image5 {
    margin-top: 20px;
  }

  .home-hero1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-container03 {
    margin: 0;
    padding: 0;
  }

  .home-full-width-banner {
    padding-top: 40px;
    flex-direction: column;
  }

  .home-cards-container {
    grid-gap: 16px;
  }

  div.category-card-category-card img {
    width: 250px;
    height: 230px;
  }

  .home-content {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .home-left4 {
    padding: 0 40px;
  }

  .home-btn {
    margin-bottom: 30px;
  }

  .home-text30 {
    width: 400px;
  }

  .home-image6 {
    width: 100%;
  }

  div.section-container:nth-child(4) {
    padding-top: 40px;
  }

  div.blog-post-card-blog-post-card {
    max-width: 550px;
  }

  .home-text32 {
    margin-top: 60px;
  }

  .home-footer1 {
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }

  .home-links-container {
    flex-direction: column;
  }
}
