html {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: 15vw;
  height: 35rem;
  gap: 1rem;
  margin: 4rem 4rem;
}

span {
  padding: 22px 50px;
  border: 1px solid black;
  text-align: center;
}

.H {
  order: 1;
}

.T {
  order: 2;
}

.M {
  order: 3;
}

.L {
  order: 4;
}

.S {
  order: -8;
}

.e {
  order: -7;
}

.m {
  order: -6;
}

.a {
  order: -5;
}

.n {
  order: -4;
}

.t {
  order: -3;
}

.i {
  order: -2;
}

.c {
  order: -1;
}
