@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css';

body {
  margin: 0 5%;
  font-family: 'PT Sans', sans-serif;
}

header {
  background-image: url('image/computer-main.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: gray;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  padding-top: 30px;
}

button {
  background-color: #00d08e;
  border: none;
  color: white;
  margin: 70px 46%;
  padding: 10px 3px;
  font-size: 18px;
  border-radius: 3px;
}

a {
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
  color: white;
}

header > h1 {
  text-shadow: 1px 1px 2px black;
  font-size: 60px;
  margin-bottom: 20px;
  padding-top: 30px;
}

header > p {
  text-shadow: 1px 1px 2px black;
  margin-top: 0;
  padding: 0 30%;
  font-size: 24px;
  line-height: 25px;
}

.fa-circle-arrow-right {
  text-shadow: 1px 1px 2px black;
  padding-left: 5px;
  font-size: 20px;
}

main {
  padding: 0;
}

.first-main,
.second-main {
  display: flex;
}

.first-main img {
  width: 680px;
  height: 500px;
}

.hustle-case-icons > ul li span {
  text-align: center;
}

.hustle-what {
  margin: 20px 30px 0 60px;
}

.hustle-what > ul {
  padding-left: 0;
}

.hustle-what h1 {
  font-size: 42px;
}

.hustle-what ul li {
  margin: 0 30px;
  padding-bottom: 15px;
}

.first-main img {
  width: 640px;
  height: 500px;
}

.pen,
.hustle-case-icons,
.div-pen {
  width: 664px;
  height: 500px;
}

.fa-check {
  background-color: #00d08e;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px;
  position: absolute;
  left: 54%;
}

.first-main li {
  padding: 20px;
}

.first-main p {
  font-size: 18px;
  padding-right: 80px;
  line-height: 1.5rem;
}

.second-main h2 {
  text-align: center;
  font-size: 30px;
}

.small-img {
  height: 100px;
  width: 100px;
  padding-bottom: 10px;
}

.pen,
.hustle-case-icons,
.div-pen {
  width: 684px;
  height: 500px;
}

.second-main ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.second-main ul li {
  color: #00d08e;
  display: flex;
  flex-direction: column;
  padding: 36px;
  font-size: 20px;
  font-weight: bolder;
}

footer {
  background-color: #b2f1dd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer h2 {
  font-size: 32px;
}

footer p {
  font-size: 16px;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 10px;
}

.QnA {
  padding: 0 10px;
  margin: 0 40px;
  flex-basis: 23%;
  text-align: center;
  height: 180px;
}
